h1{
    text-align: center;
    margin-top: 2rem;
}

.entry-content{
    max-width: 900px;
    margin-inline: auto;
    margin-block: 1rem;
}

h4{
    background-color: var(--navigation);
    font-size: 1.5rem;
    padding: 1rem;
}

h6{
    font-size: 1.2rem;
}

p{
    padding: 1rem;
}

.question-wrapper{
    border-bottom: 1px solid var(--navigation);
}

.contain-question{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}